button {
  width: 150px;
  height: 150px;
}

.keyPad {
}

.screen {
  width: 600px;
  height: 150px;
  text-align: right;

  border: 1px solid;
}

.ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
